.display--inline-block {
  display: inline-block;
  float: none; }

.tnwedding--content-container {
  min-height: 272px;
  text-align: left;
  font-family: "Oswald", sans-serif; }
  .tnwedding--content-container a {
    border-bottom: 1px dotted #96377C; }
    .tnwedding--content-container a:hover {
      text-decoration: none;
      border-bottom-style: solid; }

.tnwedding--content-title {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center; }

.tnwedding--content {
  margin-top: 20px;
  margin-bottom: 20px; }

.tnwedding--image--full-width {
  padding-left: 0;
  padding-right: 0; }

.tnwedding--location-image {
  background-image: url("../images/sopwell-house-exterior.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  display: block;
  width: 100%;
  height: 170px; }
  @media screen and (min-width: 480px) {
    .tnwedding--location-image {
      height: 250px; } }
  @media screen and (min-width: 640px) {
    .tnwedding--location-image {
      height: 335px; } }
  @media screen and (min-width: 768px) {
    .tnwedding--location-image {
      height: 405px; } }
  @media screen and (min-width: 1024px) {
    .tnwedding--location-image {
      height: 530px; } }
  @media screen and (min-width: 1280px) {
    .tnwedding--location-image {
      height: 660px; } }
  @media screen and (min-width: 1440px) {
    .tnwedding--location-image {
      background-position: center -140px;
      height: 600px; } }

@font-face {
  font-family: 'england_hand_dbregular';
  src: url("../fonts/england-webfont.eot");
  src: url("../fonts/england-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/england-webfont.woff") format("woff"), url("../fonts/england-webfont.ttf") format("truetype"), url("../fonts/england-webfont.svg#england_hand_dbregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.font-england-hand {
  font-family: "england_hand_dbregular", sans-serif; }

.font-oswald {
  font-family: "Oswald", sans-serif; }

/** base.scss **/
body {
  text-align: center;
  background-color: #FFECD7; }

.tnwedding--nav-bar {
  border-top: 1px solid #96377C;
  border-bottom: 1px solid #96377C; }
  @media screen and (min-width: 768px) {
    .tnwedding--nav-bar {
      border-top: none; } }
  .tnwedding--nav-bar.tab-bar {
    background-color: #FFECD7; }
  .tnwedding--nav-bar .tnwedding--title-bar--title {
    color: #96377C;
    font-family: "Oswald", sans-serif;
    font-size: 1.2rem; }
    @media screen and (min-width: 768px) {
      .tnwedding--nav-bar .tnwedding--title-bar--title {
        font-size: 1.125rem; } }
  .tnwedding--nav-bar .tnwedding--nav {
    display: inline-block; }
    .tnwedding--nav-bar .tnwedding--nav li a {
      font-family: "Oswald", sans-serif;
      font-size: 1.1rem; }
      @media screen and (min-width: 768px) {
        .tnwedding--nav-bar .tnwedding--nav li a {
          font-size: 0.95rem; } }
  .tnwedding--nav-bar .tnwedding--off-canvas-toggle {
    border-right-color: #96377C; }

.tnwedding--offcanvas-nav li a {
  font-family: "Oswald", sans-serif;
  font-size: 1.1rem; }
  @media screen and (min-width: 768px) {
    .tnwedding--offcanvas-nav li a {
      font-size: 0.95rem; } }

.tnwedding--off-canvas-nav--title {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  font-family: "Oswald", sans-serif;
  font-size: 1rem !important; }
  @media screen and (min-width: 768px) {
    .tnwedding--off-canvas-nav--title {
      font-size: 0.95rem !important; } }

.cs-text {
  clear: both; }
  @media screen and (min-width: 1024px) {
    .cs-text {
      margin-left: 15px; } }
  .cs-text .space {
    width: 90px;
    height: 100px;
    display: inline-block;
    background: #d5b292;
    color: #2a1f1b;
    border-radius: 4px;
    font-size: 60px;
    font-weight: 400;
    line-height: 100px;
    margin: 10px 3px;
    text-align: center;
    vertical-align: bottom;
    cursor: default;
    text-transform: uppercase;
    box-shadow: 3px 3px 4px rgba(107, 107, 107, 0.8), inset 3px 0 2px rgba(255, 255, 255, 0.4), inset 0 3px 0px rgba(255, 255, 255, 0.5), inset -2px -3px 0px rgba(143, 128, 82, 0.6); }
  .cs-text .letter {
    background: #d5b292 url("../images/scrabble-tile-dark-bg.jpg") no-repeat scroll 0 0;
    border-radius: 4px;
    box-shadow: 3px 3px 4px #c8c8c8, 3px 0 2px rgba(213, 178, 146, 0.4) inset, 0 3px 0 rgba(213, 178, 146, 0.5) inset, -3px -4px 0 rgba(107, 107, 107, 0.6) inset;
    color: #2a1f1b;
    cursor: default;
    display: block;
    float: left;
    font-family: "Spinnaker",Arial,sans-serif;
    font-size: 22px;
    font-weight: 400;
    height: 35px;
    line-height: 32px;
    margin: 10px 3px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.9), 0 -1px 1px rgba(255, 255, 255, 0.2);
    text-transform: uppercase;
    width: 35px; }
    @media screen and (min-width: 480px) {
      .cs-text .letter {
        width: 31px;
        height: 31px;
        line-height: 25px;
        font-size: 18px; } }
    @media screen and (min-width: 640px) {
      .cs-text .letter {
        width: 40px;
        height: 47px;
        display: inline-block;
        float: none;
        font-size: 24px;
        line-height: 47px; } }
    @media screen and (min-width: 768px) {
      .cs-text .letter {
        width: 53px;
        height: 58px;
        font-size: 30px;
        line-height: 58px; } }

.number {
  font-size: 13px;
  position: relative;
  right: 0;
  top: 5px; }
  @media screen and (min-width: 480px) {
    .number {
      font-size: 11px; } }
  @media screen and (min-width: 768px) {
    .number {
      font-size: 17px;
      top: 8px; } }

.nw {
  transform: rotate(3deg); }

.ne {
  transform: rotate(-2deg); }

.end-letter {
  margin-right: 20px !important; }

.end-letter__mobile-only {
  margin-right: 20px !important; }
  @media screen and (min-width: 768px) {
    .end-letter__mobile-only {
      margin-right: 0 !important; } }

.new-word {
  clear: both; }
  @media screen and (min-width: 480px) {
    .new-word {
      clear: none; } }

.google-maps {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden; }
  .google-maps iframe {
    position: absolute;
    top: 0;
    height: 100%;
    width: 88%; }
    @media screen and (min-width: 480px) {
      .google-maps iframe {
        width: 93%; } }
    @media screen and (min-width: 640px) {
      .google-maps iframe {
        width: 94%; } }
    @media screen and (min-width: 768px) {
      .google-maps iframe {
        width: 95%; } }
    @media screen and (min-width: 1024px) {
      .google-maps iframe {
        width: 96%; } }

.tnwedding--rsvp-form-iframe {
  width: 99%;
  height: 2100px; }
  @media screen and (min-width: 640px) {
    .tnwedding--rsvp-form-iframe {
      height: 2040px; } }
  @media screen and (min-width: 768px) {
    .tnwedding--rsvp-form-iframe {
      height: 1150px; } }

.tnwedding--rsvp-form hr {
  border-color: #96377C; }
.tnwedding--rsvp-form .tnwedding--rsvp-form--button {
  padding: 0.6em 1em;
  font-family: "Oswald", sans-serif; }

/*# sourceMappingURL=styles.css.map */
