// breakpoint variables
$wide-phone__portrait: 480px;
$wide-phone__landscape: 640px;
$tablet: 768px;
$desktop: 1024px;

// scrabble tile variables
$scrabble-tile__rotate-nw: 3deg;
$scrabble-tile__rotate-ne: -2deg;
$scrabble-tile__bg-image-path: "../images/scrabble-tile-dark-bg.jpg";
$scrabble-tile__bg-color: #D5B292;
$scrabble-tile__font-family: "Spinnaker",Arial,sans-serif;
$scrabble-tile__font-color: #2A1F1B;